extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    form(method='POST')
      legend Mot de passe oublié
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        p Entrer votre adresse email pour recevoir les instructions de la procédure de récupération du mot de passe
        label.control-label(for='email') Email
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
      .form-group
        button.btn.btn-primary(type='submit')
          i.fa.fa-key
          | Réinitialiser mot de passe
