extends ../layout

block content
  .page-header
    h3 Information du profil

  form.form-horizontal()
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-2.control-label(for='email') Email
      .col-sm-4
        input.form-control(type='email', name='email', id='email', value='#{user.email}')
    .form-group
      label.col-sm-2.control-label(for='name') Nom
      .col-sm-4
        input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')

  .page-header
    h3 Supprimer mon compte

  p Vous pouvez supprimer votre compte mais cette action est irrerversible. 
  form(action='/account/delete', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    button.btn.btn-danger(type='submit')
      i.fa.fa-trash
      | Supprimer mon compte

  .page-header
    h3 Comptes liés

  if user.facebook
    p: a.text-danger(href='/account/unlink/facebook') Retirer mon compte Facebook
  else
    p: a(href='/auth/facebook') Lier mon compte Facebook