extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    form(method='POST')
      legend Réinitialiser le mot de passe
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(for='password') Nouveau mot de passe
        input.form-control(type='password', name='password', value='', placeholder='Nouveau mot de passe', autofocus=true)
      .form-group
        label(for='confirm') Confirmer le mot de passe
        input.form-control(type='password', name='confirm', value='', placeholder='Confirmer mot de passe')
      .form-group
        button.btn.btn-primary.btn-reset(type='submit')
          i.fa.fa-keyboard-o
          | Changer de mot de passe