extends ../layout

block content
  .page-header
    h3 Inscription
  form(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .col-sm-8.col-sm-offset-2
      .form-group
        label.control-label(for='email') Email
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus)
      .form-group
        label.control-label(for='password') Mot de passe
        input.form-control(type='password', name='password', id='password', placeholder='Mot de passe')
      .form-group
        label.control-label(for='confirmPassword') Confirmer le mot de passe
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirmer le mot de passe')
      .form-group
        center
          div(class='g-recaptcha', data-sitekey='6LdocQwTAAAAAJxUoiN9fbOWWMju-DFPTkc2T4HX')
      .form-group
        center
          button.btn.btn-success(type='submit')
            i.fa.fa-user-plus
            | Inscription
      hr
      .form-group
        a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
          i.fa.fa-facebook
          | Connexion avec Facebook
  script.
    document.addEventListener("DOMContentLoaded", function() {
      $( "body" ).append("<script src='https://www.google.com/recaptcha/api.js'>")
    });