footer
  .container.text-center
    p.footer-p.pull-left © 2015 LOVEpisodes - Tous droits réservés
    ul.footer-ul.pull-right.list-inline
      li
        a(href='/') Les derniers épisodes
      li
        a(href='/series') Séries
      li
        a(href='/utilisateurs') Membre au hasard
      li
        a(href='https://twitter.com/LOVEpisodes') 
          img(src='/images/logo-twitter.png' alt='logo twitter')
      li
        a(href='https://www.facebook.com/lovepisodes') 
          img(src='/images/logo-facebook.png' alt='logo facebook')