.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        span.title-first-part LOV
        span.title-second-part Episodes
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=title=='Accueil'?'active':undefined)
          a(href='/') Accueil
        li(class=title=='Séries'?'active':undefined)
          a(href='/series') Séries
        li(class=title=='Utilisateurs'?'active':undefined)
          a(href='/utilisateurs') Membres
      ul.nav.navbar-nav.navbar-right
        li(class=tittle=='Search'?'active':undefined)
          form.search-form.form-horizontal(action='/series', method='GET')
            .test(style='width:100%')
              .navbar-input-group
                input.form-control(type='text', list='tvshows', name='input_tvshow', placeholder='Série TV')
              .navbar-input-group
                button.search-button.btn.btn-default(type='submit')
                  i.fa.fa-search
                datalist#tvshows
                  for tvshow in tvshows
                    option(value='#{tvshow.name}')
        if user
          li(class=tittle=='Conversations'?'active':undefined)
            a(href='/conversations')
              i.fa.fa-comments.notifications
              if user.messageNotifications != 0
                if user.messageNotifications > 99
                  script.
                    document.addEventListener("DOMContentLoaded", function() {
                      $( "body" ).append('<style>.notifications:after{content: "99"}</style>');
                    });
                else
                  script.
                    document.addEventListener("DOMContentLoaded", function() {
                      $( "body" ).append('<style>.notifications:after{content: "#{user.messageNotifications}"}</style>');
                    });
        if !user
          li(class=title=='Mon compte'?'active':undefined)
            a(href='/login') 
              button.btn.btn-danger.btn-navbar Connexion
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.thumbnail}')
              else
                img(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') Mon compte
              li.divider
              li
                a(href='/logout') Déconnexion