extends layout

block content
  script.
    document.body.style.background = '#FF5454';
  h1 Messagerie
  .col-sm-offset-2.col-sm-8
    #conversations-container
      - for conversation in conversations
        if conversation.nonRead
          .row.conversations.conversations-non-read
            a(href='/conversations/#{conversation._id}')
              .col-xs-4(style='text-align:center')
                -for _user in conversation.users
                  img(src='#{_user.profile.thumbnail}', alt='avatar utilisateur', style='width:35px; height:35px')
                  .conversations-names #{_user.profile.name}
              .col-xs-offset-2.col-xs-offset-6
                .conversation-user
                .conversations-date #{conversation.lastMessage.date}
                .conversations-content "#{conversation.lastMessage.content}"
        else
          .row.conversations
            a(href='/conversations/#{conversation._id}')
              .col-xs-3(style='text-align:center')
                -for _user in conversation.users
                  img(src='#{_user.profile.thumbnail}', alt='avatar utilisateur', style='width:35px; height:35px')
                  .conversations-names #{_user.profile.name}
              .col-xs-offset-2.col-xs-offset-7
                .conversation-user
                .conversations-date #{conversation.lastMessage.date}
                .conversations-content "#{conversation.lastMessage.content}"