extends layout

block content
  script.
    document.body.style.background = '#FF5454';
  form.form-horizontal(id='add-message-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      .col-sm-offset-3.col-sm-7
        textarea.form-control(name='content', id='content', placeholder='Contenu du message')
    .form-group
      .col-sm-12
        button.btn.btn-success.btn-add-comment(type='submit')
          i.fa.fa-comments
          | Envoyer message
  #comments-container
    - for message in messages
      .row.comment
        .col-xs-2
          a(href='/utilisateurs/#{message.author._id}')
            img.thumbnail-comment(src='#{message.author.profile.thumbnail}' alt='avatar utilisateur')
            .author-name #{message.author.profile.name}
        .col-xs-offset-1.col-xs-9
          .comment-date #{message.date},
          p !{message.content}
  script.
    document.addEventListener("DOMContentLoaded", function() {
      infiniteScroll('conversation');
    });