extends layout

block content
  .cover-tvshow(style='background-image:url("#{tvshow.coverImgPath}");')
  .content-under-cover-tvshow
    .breadcrumb(xmlns:v="http://rdf.data-vocabulary.org/#")
      span(typeof="v:Breadcrumb")
        a(href='/series' rel="v:url" property="v:title") Séries 
      | > 
      span(typeof="v:Breadcrumb")
        a(href='/series/#{tvshow.pathName}' rel="v:url" property="v:title") #{tvshow.name} 
      | > 
      span(typeof="v:Breadcrumb")
        a(href='/series/#{tvshow.pathName}/#{season.pathName}' rel="v:url" property="v:title") #{season.name} 
      | > 
      span(typeof="v:Breadcrumb")
        a(href='' rel="v:url" property="v:title") #{episode.name}
    .col-sm-9(itemscope itemtype="http://schema.org/TVEpisode")
      if user && user.superadmin 
        .super-admin
          h2 Ajouter Spoiler
          form.form-horizontal(id='add-spoiler', action='#{episode.pathName}/ajouter-spoiler', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              input.form-control(type='text', name='urlpreview', id='urlpreview', placeholder='URL Preview Youtube' value='#{episode.urlPreview}')
            .form-group
              textarea.form-control(name='content', id='content', placeholder='Contenu des spoilers') #{episode.spoilers}
            .form-group
              button.btn.btn-success(type='submit')
                i.fa.fa-user-plu
                | Ajouter spoilers
        .super-admin
          h2 Modifier Episode
          form(id='add-tvshow-form', method='POST', action='#{episode.pathName}/modifier')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              input.form-control(type='number', name='year', id='year', placeholder='Année')
            .form-group
              input.form-control(type='number', name='month', id='month', placeholder='Mois')
            .form-group
              input.form-control(type='number', name='day', id='day', placeholder='Jour')
            .form-group
              input.form-control(type='number', name='hour', id='hour', placeholder='Heure')
            .form-group
              input.form-control(type='number', name='minute', id='minute', placeholder='Minute')
            .form-group
              button.btn.btn-success(type='submit')
                i.fa.fa-user-plus
                | Modifier épisode  
      meta(itemprop="url" content="http://www.episodique.com/series/#{tvshow.pathName}/#{season.pathName}/#{tvshow.pathName}")
      span(itemprop="partOfSeason" itemscope itemtype="http://www.schema.org/TVSeason")
        meta(itemprop="url" content="http://www.episodique.com/series/#{tvshow.pathName}/#{season.pathName}")
      span(itemprop="partOfSeries" itemscope itemtype="http://www.schema.org/TVSeries")
        meta(itemprop="url" content="http://www.episodique.com/series/#{tvshow.pathName}")
      h1(itemprop="name") #{episode.name}
      .starrr(data-rating='#{roundedNote}' data-numstars='10')
      span(itemprop="review" itemscope itemtype="http://schema.org/Review")
        span(itemprop="author" itemscope itemtype="http://schema.org/Organization")
          meta(itemprop="name" content="Episodique")
          meta(itemprop="url" content="http://www.episodique.com")
        .episode-info(itemprop="aggregateRating" itemscope itemtype="http://schema.org/aggregateRating")
          meta(itemprop="itemReviewed" content="#{tvshow.name} #{season.name} #{episode.name}")
          meta(itemprop="bestRating" content="10")
          span(itemprop="ratingValue") #{note} 
          |/10 | 
          span(itemprop="ratingCount") #{numberOfVotes} 
          i.fa.fa-star
          ||
          span #{episode.numberOfComments} 
          i.fa.fa-comment
          .social-share
            a.twitter-share-button(href='https://twitter.com/share', data-via='LOVEpisodes') Tweet
              script.
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            ||
            .fb-share-button(data-href='http://www.lovepisodes.com/series/#{tvshow.pathName}/#{season.pathName}/#{episode.pathName}', data-layout='button_count')
            ||
      meta(itemprop="commentCount" content="#{episode.numberOfComments}")
      span(itemprop="publication" itemscope itemtype="http://www.schema.org/PublicationEvent")
        meta(itemprop="startDate" content="#{episode.ISODate}")
      .episode-out-date Sortie #{episode.date}
      if episode.urlPreview
        h2 Teaser
        iframe(width="560" height="315" src="#{episode.urlPreview}" frameborder="0" allowfullscreen style='width:100%')
      if episode.spoilers
        h2 Spoilers       
        .spoilers !{episode.spoilers}
      hr
      if user
        form.form-horizontal(id='add-comment-form', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            .col-sm-offset-1.col-sm-10
              textarea.form-control(name='content', id='content', placeholder='Déposer un commentaire')
          .form-group
            center.col-sm-12
              div(class='g-recaptcha', data-sitekey='6LdocQwTAAAAAJxUoiN9fbOWWMju-DFPTkc2T4HX')
            .col-sm-12
              button.btn.btn-success.btn-add-comment(type='submit')
                i.fa.fa-comment
                | Envoyer
      else
        .super-admin
          p Créez un compte pour ajouter des commentaires
      #comments-container
        if episode.numberOfComments > 1
          ul.options-display-comments
            | Afficher les commentaires   
            li
              a(href='/series/#{tvshow.pathName}/#{season.pathName}/#{episode.pathName}?order=-1#comments-container') du plus récent au plus ancien
            |  | 
            li
              a(href='/series/#{tvshow.pathName}/#{season.pathName}/#{episode.pathName}?order=1#comments-container') du plus ancien au plus récent)
        - for comment in comments
          .row.comment(itemprop="comment" itemscope itemtype="http://www.schema.org/Comment")
            .col-xs-2
              a(href='/utilisateurs/#{comment.author._id}')
                span(itemprop="author" itemscope itemtype="http://www.schema.org/Person")
                  img.thumbnail-comment(src='#{comment.author.profile.thumbnail}', alt='avatar utilisateur')
                  .comment-author(itemprop="name") #{comment.author.profile.name}
            .col-xs-offset-1.col-xs-9
              if user && user.superadmin
                .col-sm-12
                  a(href='#{episode.pathName}/delete-comment/#{comment._id}')
                    button.btn.btn-danger
                      |Supp. commentaire
              .comment-date #{comment.date},
              meta(itemprop="datePublished" content="#{comment.ISODate}")
              meta(itemprop="dateCreated" content="#{comment.ISODate}")
              span(itemprop="text")
                p !{comment.content}
    .col-sm-3.tvshow-sidebar.hidden-xs
      ul
        for _season in tvshow.seasons
          li
            a(href='/series/#{tvshow.pathName}/#{_season.pathName}') #{_season.name}
            if _season.name == season.name
              ul
                -for episode in season.episodes
                  li
                    a(href='/series/#{tvshow.pathName}/#{season.pathName}/#{episode.pathName}') #{episode.name}
      .social
        .fb-page(data-href='https://www.facebook.com/lovepisodes', data-small-header='false', data-height='400px' data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true', data-show-posts='true')
          .fb-xfbml-parse-ignore
            blockquote(cite='https://www.facebook.com/lovepisodes')
              a(href='https://www.facebook.com/lovepisodes') LOVEpisodes
        a.twitter-timeline(href='https://twitter.com/LOVEpisodes', data-widget-id='644543512592183296') Tweets de @LOVEpisodes
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  script.
    document.addEventListener("DOMContentLoaded", function() {
      infiniteScroll('episode');
      rateEpisode();
      $( "body" ).append("<script src='https://www.google.com/recaptcha/api.js'>")
    });