extends layout

block content
  script.
    document.body.style.background = 'white';
  .home
    .col-sm-12
      h1 Les derniers épisodes
    .row#episodes-container
      -for episode in episodes
        .col-sm-4.home-episode
          div.home-episode-image(style='background-image:url("#{episode.tvshow.mainImgPath}");')
            div.home-episode-content
              a(href='/series/#{episode.tvshow.pathName}/#{episode.season.pathName}/#{episode.pathName}')
                .home-episode-name #{episode.season.name} > #{episode.name}
                .home-episode-info #{episode.date} | #{episode.tvshow.name} | #{episode.numberOfComments} 
                  i.fa.fa-comment
  script.
    document.addEventListener("DOMContentLoaded", function() {
      infiniteScroll('home');
      $('.footer-p').css('color', 'black');
    });