extends layout

block content
  script.
    document.body.style.background = '#FF5454';
  form.form-horizontal(id='send-message-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='content') Contenu
      .col-sm-7
        textarea.form-control(name='content', id='content', placeholder='Contenu du message')
    .form-group
      .col-sm-offset-8.col-sm-2
        button.btn.btn-success(type='submit')
          i.fa.fa-comments
          | Envoyer à #{recipient.profile.name}