extends layout

block content
  script.
    document.body.style.background = '#FF5454';
  .col-sm-12
    .col-md-6
      .col-xs-6
        h2(style='padding:0; margin:0') #{_user.profile.name} 
      .col-xs-6(style='text-align:right; padding:0')
        a(href='/conversations/nouvelle?recipient=#{_user._id}') 
          button.btn.btn-success
            i.fa.fa-comments
        a(href='/utilisateurs') 
          button.btn.btn-danger.btn-danger-profile
            i.fa.fa-close
            |Next
      .row
        img(src='#{_user.profile.picture}', alt='avatar utilisateur', style='height:100%; width:100%;')
    .col-md-6(style='text-align:center')
      .profile-member-since Inscrit #{inscriptionDate}
      .profile-votes #{numberOfVotes} 
        i.fa.fa-star
      .profile-comments #{numberOfComments} 
        i.fa.fa-comment
      if _user.stats.interventions.length != 0
        .row
          h3 Séries préférées
          canvas#chart(width="300", height="300", style='width:100%; height:100%')
  |<script>
  |window.onload = function(){
  |  createPieChart([
  -var i=0
  -for intervention in _user.stats.interventions

    |      {
    |        value: '#{intervention.number}',
    |        color: colors[#{i}],
    |        title: '#{intervention.id.name}'
    |      },
    -i++
  | ]);
  |};
  |</script>
  script.
    document.addEventListener("DOMContentLoaded", function() {
      $('.footer-ul').find('li').find('a').css('color', '#2B3E50');
    });