extends layout

block content
  .cover-tvshow(style='background-image:url("#{tvshow.coverImgPath}");')
  .content-under-cover-tvshow
    .breadcrumb(xmlns:v="http://rdf.data-vocabulary.org/#")
      span(typeof="v:Breadcrumb")
        a(href='/series' rel="v:url" property="v:title") Séries 
      | > 
      span(typeof="v:Breadcrumb")
        a(href='/series/#{tvshow.pathName}' rel="v:url" property="v:title") #{tvshow.name} 
      | > 
      span(typeof="v:Breadcrumb")
        a(href='' rel="v:url" property="v:title") #{season.name}
    .col-sm-9
      if user && user.superadmin
        .super-admin
            h2 Ajouter Episode
            form(id='add-tvshow-form', method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                input.form-control(type='text', name='num', id='num', placeholder='Num Episode')
              .form-group
                input.form-control(type='number', name='year', id='year', placeholder='Année')
              .form-group
                input.form-control(type='number', name='month', id='month', placeholder='Mois')
              .form-group
                input.form-control(type='number', name='day', id='day', placeholder='Jour')
              .form-group
                input.form-control(type='number', name='hour', id='hour', placeholder='Heure')
              .form-group
                input.form-control(type='number', name='minute', id='minute', placeholder='Minute')
              .form-group
                button.btn.btn-success(type='submit')
                  i.fa.fa-user-plus
                  | Ajouter épisode
      h1 #{season.name}
      if user && user.superadmin
      ul
        - for episode in season.episodes
          li
            a(href='/series/#{tvshow.pathName}/#{season.pathName}/#{episode.pathName}') #{episode.name}
    .col-sm-3.tvshow-sidebar.hidden-xs
      ul
        -for season in tvshow.seasons
          li
            a(href='/series/#{tvshow.pathName}/#{season.pathName}') #{season.name}
      .social
        .fb-page(data-href='https://www.facebook.com/lovepisodes', data-small-header='false', data-height='400px' data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true', data-show-posts='true')
          .fb-xfbml-parse-ignore
            blockquote(cite='https://www.facebook.com/lovepisodes')
              a(href='https://www.facebook.com/lovepisodes') LOVEpisodes
        a.twitter-timeline(href='https://twitter.com/LOVEpisodes', data-widget-id='644543512592183296') Tweets de @LOVEpisodes
            script.
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");