extends layout

block content
  h1 Séries TV
  if user && user.superadmin
    .super-admin
      form.form-vertical(id='add-tvshow-form', method='POST', enctype='multipart/form-data')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            input.form-control(type='text', name='name', id='name', placeholder='Nom')
        .form-group
            input(type='file', name='tvshowimg', id='tvshowimg')
        .form-group
            input(type='file', name='tvshowcover', id='tvshowcover')
        .form-group
            button.btn.btn-success(type='submit')
              i.fa.fa-user-plus
              | Ajouter série
  .row
    .col-xs-offset-3.col-xs-6
      form.form-horizontal(action='/series', method='GET')
        .input-group
          input.form-control(type='text', list='tvshows', name='input_tvshow', placeholder='Série TV')
          span.input-group-btn
            button.btn.btn-default(type='submit')
              i.fa.fa-search
          datalist#tvshows
            for tvshow in tvshows
              option(value='#{tvshow.name}')
  .row
    .col-sm-12
      if numberOfResults == 0
        p 0 résultat. Aucune série trouvée
      else
        p #{numberOfResults} résultats : 
      .row#tvshows-container
        -for tvshow in tvshows
          .col-sm-4.home-episode
            div.home-episode-image(style='background-image:url("#{tvshow.mainImgPath}");')
              div.home-episode-content
                a(href='/series/#{tvshow.pathName}')
                  .home-episode-name #{tvshow.name}
                  .home-episode-info #{tvshow.numberOfComments} 
                    i.fa.fa-comment
  script.
    document.addEventListener("DOMContentLoaded", function() {
      infiniteScroll('tvshows');
    });