@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

body {
  font-family : 'Alegreya Sans', 'sans-serif';
  word-wrap: break-word;
}

hr {
  height: none;
  border: none;
  border-top: 3px dashed white;
}

.btn-danger {
  background-color:#FF5454;
}

.btn-danger-profile {
  background-color:#2B3E50;
}

.btn-danger-profile:hover {
  background-color:#1B2E40;
}

li {
  list-style-type: none;
}

.form-control {
  border:none;
  color:white;
  border-radius: 0;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid white;
  box-shadow:none !important;
  padding: 0;
}

.form-control:focus {
  border-color:white;
}

.form-control::-webkit-input-placeholder {
    color:    white;
}
.form-control:-moz-placeholder {
    color:    white;
}
.form-control::-moz-placeholder {
    color:    white;
}
.form-control:-ms-input-placeholder {
    color:    white;
}

.title-first-part {
  color: #FF5454;
  font-weight:bold;
}

.title-second-part {
  color: white;
  font-weight:bold;
}

.home {
  color:black;
}

.home h1, .home h2 {
  color:#2B3E50;
}

.cover-tvshow {
  height:50vh; width:100%; position:absolute; background-size:cover; margin:0; margin-top:-20px; padding:0; opacity:1; left:0
}

.content-under-cover-tvshow {
  margin-top:50vh;
}

.starrr {
  color:#FFD45E; font-size:@font-size-large
}

.form-horizontal {
  padding-bottom:20px; text-align:center
}

.search-form {
  padding:0;
}

.search-button {
  margin-top:-2px;
}

.search-button:hover {
  background-color:#263646;
}

.notifications:after{
    position: absolute;
    background: #FF5454;
    height:2rem;
    top:1rem;
    left:1.5rem;
    width:2rem;
    text-align: center;
    line-height: 2rem;;
    font-size: 1rem;
    border-radius: 50%;
    color:white;
}

.spoilers {
  padding-bottom:50px;
}

.btn-add-comment {
  margin-top: 15px;
}

.options-display-comments li {
  display:inline-block;
}

.options-display-comments {
  padding-left:0;
}

.comment .col-xs-2 {
  text-align:center;
}

.comment {
  overflow:hidden;
  background-color:#ffffff;
  padding: 10px;
  margin-bottom: 10px;
  color:black;
}

.comment-date {
  font-size:12px;
}

.comment-date:first-letter, .conversations-date:first-letter {
  text-transform: capitalize;
}

.comment-author {
  width:120px;
}

.thumbnail-comment {
  width:100px; height:100px; border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px;
}

.tvshow-sidebar .social .fb-page {
  margin-bottom:10px;
}

.tvshow-sidebar ul {
  text-align:left;
}

.episode-out-date {
  font-weight:bold;
}

.episode-info {
  font-size:@font-size-large;
  display:inline-block;
}

.episode-info .social-share {
  float:left;
}

.episode-info .fb-share-button {
  top:-9px;
}


.home-episode {

  height:180px; 
  padding:2px; 
  margin:0;
}

.home-episode-image {
  height:100%; 
  background-size:cover; 
  margin:0; 
  padding:0;
}

.home-episode-info:first-letter {
    text-transform: capitalize;
}

.home-episode-content {
  height:180px; 
  line-height:180px;
  position:relative; 
  text-align:center; 
  background-color:white;
  opacity:0;
}

.home-episode-content:hover {
  opacity:1;
}

.home-episode-content a {
  text-decoration:none;
  color: black;
}

.home-episode-name {
  font-size:@font-size-large;
}

.home-episode-info {
  font-size:@font-size-small; 
  margin-top:-106px;
}

.conversations {
  background-color:white;
  color:black;
  padding:5px;
  margin-bottom:10px;
}

.conversations a {
  color:black;
  text-decoration:none;
}

.conversations-date {
  font-size:@font-size-small;
}

.conversations:hover {
  background-color: #2B3E50;
}

.conversations:hover a{
  color:white
}

.conversations-non-read {
  background-color: #dddddd;
}

.profile-member-since {
  font-size:@font-size-large;
}

.profile-comments, .profile-votes {
  font-size:@font-size-large*2;
}

.super-admin {
  background-color:#FF5454;
  padding:20px;
  margin-top:10px;
  margin-bottom:10px;
}